<link rel="stylesheet" href="/css/input.css">

<form action="/post/create" method="post">
    <input type="text" name="title" class="input-title" placeholder="title...">
    <textarea name="content" id="" cols="30" rows="10" class="textarea-content" placeholder="content..."></textarea>
    <button>Submit</button>
</form>