.input-title {
    display: block;
    margin: 1rem 0;
}
.textarea-content {
    display: block;
    margin: 1rem 0;
}
.comment {
    border: 0.1rem solid grey;
    border-radius: 1rem;
    margin: 1rem 0.5rem;
    padding: 0.5rem 2rem;
}